button {
	background-color: #008CBA; /* blue*/
    font-size: 30px;
	border-radius: 8px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 8px solid #4CAF50; /* Green */
    cursor: pointer;
    width: 100%;
}




button:hover {
    opacity: 0.8;
}

 p{background-color:Aliceblue;
 }
 
 li {
 background-color:orange;
 }
 p:hover {
    opacity: 1.0;
}