button {
	background-color: #008CBA; /* blue*/
    font-size: 30px;
	border-radius: 8px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 8px solid #4CAF50; /* Green */
    cursor: pointer;
    width: 100%;
}


body{width:90%;margin:auto;min-width:600px;max-width:2000px}

button:hover {
    opacity: 0.8;
}

h1,h2{
background-color:green;
}
 p{background-color:Aliceblue;
 }
 b {background-color:purple;
 width: 100%;
 padding: 20px 490px;
 }
 li {
 background-color:orange;
 }
 p:hover {
    opacity: 1.0;
}
